ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #661a00;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
	font-size:30;
	
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #802000;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #ff5c33;
}



div.logo {
 margin: 5px;
 width: 100%;
 position:fixed;
 bottom:50px;
 left:1600px;
  z-index: 2;
	}


div.gallery {
    margin: 1px;
    border: 1px solid #ccc;
    width: 530px;
	height:530px;
	float:left

	}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 100%;
	overflow:hidden;
margin: auto;
}

div.desc {
    padding: 1px;
    text-align: center;
	font-size:20;
	font-family: Arial;
	font-weight: bold;
    position:relative;
	bottom:30px;
	color:brown;

}
p.z {
text-align: center;
font-size: 50;
position:static;
background-color:#ffb366;
color:brown;
font-weight:bold;
}
body {
   background-image: url("../images/tapet.jpg");
   background-color: #cccccc;
   width: 99%;
}